In [1]:
import pandas as pd

In [16]:
pcr_positive = pd.read_csv("COVID-19-jp/pcr_positive_daily.csv")
pcr_positive.tail()

            日付  PCR 検査陽性者数(単日)  Unnamed: 2 Unnamed: 3
454  2021/4/14            4302         NaN        NaN
455  2021/4/15            4570         NaN        NaN
456  2021/4/16            4519         NaN        NaN
457  2021/4/17            4722         NaN        NaN
458  2021/4/18            4032         NaN        NaN

In [8]:
print(pcr_positive["日付"].isnull().sum())
print(pcr_positive["PCR 検査陽性者数(単日)"].isnull().sum())

0
0

In [10]:
current_situation = pd.read_csv("COVID-19-jp/current_situation.csv")
current_situation

,Unnamed: 0,PCR検査\n実施人数 ※3,陽性者数,入院治療等を要する者の数,うち重症者の数,退院又は療養解除と\nなった者の数,死亡者数,確認中 ※4
0,"国内事例 ※1,※5\n(チャーター便帰国\n者を除く)","10,296,311\n(+30,571)","531,466\n(+4,032) ※2","40,425\n(+1,825)",738\n(+15) ※6,"480,632\n(+2,259)","9,638\n(+19)","1,125\n(+48)"
1,"空港,海港検疫","621,807\n(+1,628) ※7","2,571\n(+４)",163\n(+４),0,"2,405",3,0
2,チャーター便\n帰国者事例,829,15,0,0,15,0,0
3,合計,"10,918,947\n(+32,199)","534,052\n(+4,733) ※2","40,588\n(+1,829)",738\n(+15) ※6,"483,052\n(+2,259)","9,641\n(+19)","1,125\n(+48)"

In [11]:
cases_total = pd.read_csv("COVID-19-jp/cases_total.csv")
cases_total.head()

         日付  入院治療を要する者
0  2020/2/4         15
1  2020/2/5         16
2  2020/2/6         12
3  2020/2/7         12
4  2020/2/8          7

In [12]:
print(cases_total["日付"].isnull().sum())
print(cases_total["入院治療を要する者"].isnull().sum())

0
0

In [15]:
death_total = pd.read_csv("COVID-19-jp/death_total.csv")
death_total.tail()

            日付  死亡者数
425  2021/4/14  9497
426  2021/4/15  9535
427  2021/4/16  9581
428  2021/4/17  9619
429  2021/4/18  9638

In [17]:
print(death_total["日付"].isnull().sum())
print(death_total["死亡者数"].isnull().sum())

0
0

In [19]:
pcr_case_daily = pd.read_csv("COVID-19-jp/pcr_case_daily.csv")
pcr_case_daily.tail()

            日付  国立感染症研究所  検疫所  地方衛生研究所・保健所   民間検査会社     大学等     医療機関
420  2021/4/13         0    0         5631  32213.0  4177.0  21790.0
421  2021/4/14         0    0         4035  37481.0  3952.0  19303.0
422  2021/4/15         0    0         4837  27611.0  2782.0  14890.0
423  2021/4/16         0    0         4339      NaN     NaN      NaN
424  2021/4/17         0    0         2141      NaN     NaN      NaN

In [20]:
print(pcr_case_daily["日付"].isnull().sum())
print(pcr_case_daily["国立感染症研究所"].isnull().sum())
print(pcr_case_daily["検疫所"].isnull().sum())
print(pcr_case_daily["地方衛生研究所・保健所"].isnull().sum())
print(pcr_case_daily["民間検査会社"].isnull().sum())
print(pcr_case_daily["大学等"].isnull().sum())
print(pcr_case_daily["医療機関"].isnull().sum())

0
0
0
0
2
2
19

In [22]:
recovery_total = pd.read_csv("COVID-19-jp/recovery_total.csv")
recovery_total.tail()

            日付  退院、療養解除となった者
441  2021/4/14        471170
442  2021/4/15        473345
443  2021/4/16        475966
444  2021/4/17        478373
445  2021/4/18        480632

In [23]:
print(recovery_total["日付"].isnull().sum())
print(recovery_total["退院、療養解除となった者"].isnull().sum())

0
0

In [24]:
severe_daily = pd.read_csv("COVID-19-jp/20210417/severe_daily.csv")
severe_daily.tail()

            日付  重症者数
431  2021/4/11   563
432  2021/4/12   596
433  2021/4/13   608
434  2021/4/14   631
435  2021/4/15   670

In [38]:
print(severe_daily["日付"].isnull().sum())
print(severe_daily["重症者数"].isnull().sum())

0
0